<div class="jumbotron">
    <h1>Images</h1>
    <p class="lead">Working with the "image" internet media type.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the October 7 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Look for these highlights:</p>
        <ul>
            <li>'Media Formatter' in the Formatters folder</li>
            <li>The formatter is loaded in the WebApiApplication class</li>
            <li>Resource model class, with data annotations</li>
            <li>'Attribute based routing' seen in the controller</li>
            <li>Custom code in the controller for image delivery</li>
            <li>Introduction to the 'command' pattern, and accepting image data in the request</li>
        </ul>
    </div>
</div>
