<div class="jumbotron">
    <h1>Images</h1>
    <p class="lead">Support the HTTP OPTIONS method, and adds discovery support.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the October 2 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Look for these highlights:</p>
        <ul>
            <li>'Handler' in the Handlers folder</li>
            <li>The handler is loaded in the WebApiApplication class</li>
            <li>New 'Root' controller</li>
            <li>Modified WebApiConfig class 'DefaultApi' route</li>
        </ul>
    </div>
</div>
