<div class="jumbotron">
    <h1>AssociationOneToMany</h1>
    <p class="lead">Handling associated objects (one-to-many)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the September 23 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Take advantage of your web apps knowledge. Here's what's different in a web service:</p>
        <ul>
            <li>Resource models are customized for the use case</li>
            <li>The problem domain is Vehicles and their Manufacturers</li>
            <li>Can fetch an object (or collection) with its associated object(s)</li>
            <li>In this version, we do that by adding a query string item</li>
            <li>Can add a new Manufacturer easily; there's no change from adding an object in previous code examples</li>
            <li>When adding a new Vehicle, the user MUST provide a valid Manufacturer identifier</li>
        </ul>
    </div>
</div>
