<div class="jumbotron">
    <h1>AssociationsWithSOAP</h1>
    <p class="lead">Associations among entity classes; also has a SOAP XML web service</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the November 18, 2014 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Look for these highlights:</p>
        <ul>
            <li>One-to-many, to the same entity</li>
            <li>One-to-one, to the same entity</li>
            <li>One-to-one, to a separate entity</li>
            <li>Many-to-many, to a separate entity</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>SOAP XML web service</h2>
        <p>Added a 'WCF Service' to the project:</p>
        <ul>
            <li>Interface source code is in IEmployeeService.cs</li>
            <li>Logic class is in EmployeeService.svc</li>
            <li>Use the WCF Test Client to interact with it</li>
        </ul>
    </div>
</div>
