<div class="jumbotron">
    <h1>SecurityTests</h1>
    <p class="lead">Simple tests for user accounts that have different 'role' claims</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the November 22, 2014 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Look for these highlights:</p>
        <ul>
            <li>"Test" controller, with simple GET methods</li>
            <li>Works with this week's Authorization Server app</li>
            <li>Enables you to learn something about claims-based security, using 'role' claims as the learning example</li>
        </ul>
    </div>
</div>
