<div class="jumbotron">
    <h1>ErrorHandling</h1>
    <p class="lead">Uses an 'exception filter' to capture and log exceptions.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the October 9 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Look for these highlights:</p>
        <ul>
            <li>'ExceptionHandler' in the Handlers folder</li>
            <li>The handler is loaded in the WebApiApplication class</li>
            <li>'Errors' controller that the programmer can use</li>
        </ul>
    </div>
</div>
