<div class="jumbotron">
    <h1>ColourList</h1>
    <p class="lead">Introduction to a web service project</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Read the notes from the first few classes in the course.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming soon...</h2>
        <p>This example will be updated...</p>
        <ul>
            <li>More comments that explain what's going on</li>
            <li>Implementation of PUT and DELETE methods</li>
        </ul>
    </div>
</div>
