<div class="jumbotron">
    <h1>PatternsIntro</h1>
    <p class="lead">Introduction to the repository and unit-of-work patterns.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Discussed in the September 23 class session.</p>
        <p>Use Fiddler to inspect the request/response sessions.</p>
        <p><a class="btn btn-default" href="http://petermcintyre.com/dps907/notes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Highlights</h2>
        <p>Generic repository</p>
        <ul>
            <li>written as an abstract base class (ABC)</li>
            <li>has code for common methods that perform data operations</li>
            <li>supports our split data models (resource model, and design model)</li>
            <li>per-entity repository inherits from the ABC</li>
        </ul>
        <p>Unit-of-work</p>
        <ul>
            <li>a 'gateway' for a controller</li>
            <li>has references to all repositories</li>
        </ul>
    </div>
</div>
